# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Environment files
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Raw dataset
data/raw/

# Temporary files
*.log
*.tmp
*.temp